@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --main-font: "Lexend", sans-serif;
    --second-font: "DM Sans", sans-serif;
    --primary-light: #2F6EFF;
    --primary-dark: #6C202A;
    --sidebar-width: 90px;
    --dark-mode-bg: #161A23;
    --bg-white: #fff;
    --card-border: #656565;
    --dark-card-border: #2D2F39;
    --dark-table-bg: #0A0B0F;
}

body {
    font-family: var(--second-font);
}

body.dark-mode {
    --bg-white: var(--dark-mode-bg);
    --card-border: var(--dark-card-border);
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode span,
body.dark-mode .overview-dropdown,
body.dark-mode table thead tr th,
body.dark-mode table tbody tr td,
body.dark-mode .dash-logo .text-one,
body.dark-mode .dash-header .header-actions span,
body.dark-mode table tbody tr td .eyeBtn {
    color: #fff !important;
}
.container {
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-control,
.form-select {
    box-shadow: none !important;
    border-color: #E0E2E7;
}

.form-check-input {
    box-shadow: none !important;
    border-color: #E55F5A;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    border-color: var(--primary-light);
}

/* .form-switch .form-check-input:focus,
.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236C202A'/%3e%3c/svg%3e");
    border-color: var(--primary-light);
} */

p {
    color: #6B6B6B;
}

p:last-child {
    margin-bottom: 0;
}

a,
span {
    display: inline-block;
    transition: all 0.3s;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.row-gap-24 {
    row-gap: 24px;
}

.mt-32 {
    margin-bottom: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.bg-light {
    background-color: #FFF3F4 !important;
}

.bg-dark {
    background-color: var(--primary-dark) !important;
}

.btn-primary {
    padding: 10px 24px;
    background-color: var(--primary-light) !important;
    border: solid 1px var(--primary-light) !important;
    color: #fff !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-outline-primary {
    padding: 10px 24px;
    background-color: #fff !important;
    border: solid 1px var(--primary-light) !important;
    color: var(--primary-light) !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-primary:hover {
    background-color: #fff !important;
    border-color: var(--primary-light) !important;
    color: var(--primary-light) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary-light) !important;
    border-color: var(--primary-light) !important;
    color: #fff !important;
}

.btn-outline-secondary {
    padding: 10px 24px;
    background-color: #fff !important;
    border: solid 1px #333 !important;
    color: #333 !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-outline-secondary:hover {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
    color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
}

body:has(.header-wh) .navbar {
    background: none;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.col-login-form {
    padding-top: 50px;
    padding-right: 50px;
}

.login-section {
    background-color: #EEEEF7;
    padding-left: 50px;
}

.signup-form h2 {
    color: var(--primary-dark);
    line-height: 50px;
}

.signup-img .login-img {
    width: 100%;
    height: 800px;
    min-height: 100vh;
}

.signup-img,
.form-group.pwd {
    position: relative;
}

.signup-form .navbar-brand {
    margin-bottom: 50px;
}

.form-group .eye-btn {
    background-color: #0000;
    border: 0;
    position: absolute;
    top: 40px;
    right: 15px;
}

.form-group label {
    color: #202224;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    font-family: var(--main-font);
    margin-bottom: 12px;
}

.signup-form .form-desc {
    color: #000;
    margin-bottom: 40px;
    font-size: 18px;
}

.form-group .form-control,
.form-group .form-select {
    color: #202224;
    min-height: 50px;
    padding: 11px 16px;
    font-size: 14px;
}

.form-control,
.form-select {
    border-color: #e0e2e7;
    box-shadow: none !important;
    background-color: #fff !important;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    border-color: #333 !important;
    box-shadow: none !important;
    background-color: var(--dark-mode-bg) !important;
    color: #fff !important;
}

body.dark-mode .form-control::placeholder {
    color: #686B7B !important;
}

.form-group {
    margin-bottom: 24px;
}

.form-action {
    margin-top: 40px;
}

.dash-logo .text-one {
    font-family: var(--main-font);
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    color: #020F2D;
}

.dash-logo .text-two {
    font-family: var(--main-font);
    color: transparent;
    background: linear-gradient(93.77deg, #B5852D 3.99%, #E5BB56 50.62%, #AF7D25 97.25%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;
}

.dashboard-main .dashboard-left {
    /* background-color: #fff; */
    /* border-right: 1px solid #0c05071a; */
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    min-height: 100vh;
    padding-top: 24px;
    position: fixed;
    z-index: 5;
    padding-left: 16px;
}

.dash-header {
    z-index: 3;
    /* background-color: #fff; */
    margin-left: var(--sidebar-width);
    padding: 0 24px;
    position: sticky;
    top: 0;
}

.dash-header .header-section {
    padding: 12px 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.dash-header .header-section {
    position: relative;
    width: 100%;
    height: 60px;
    background: var(--bg-white);
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 7px 18px 0px #0000001A;
}

/* Left Bottom Cut */
.dash-header .header-section::before {
    content: "";
    background: none;
    border-radius: 0 16px 16px 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: -25px;
    box-shadow: 12px 12px var(--bg-white);
    rotate: -90deg;
}

/* Right Bottom Cut */
.dash-header .header-section::after {
    content: "";
    background: none;
    border-radius: 16px 0 0 16px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: -25px;
    box-shadow: -12px 12px var(--bg-white);
    rotate: 90deg;
}

.dash-header .header-section .search-bar input {
    border: 1px solid #e9edf4;
    border-radius: 6px;
    width: 100%;
    padding: 7px 10px;
    font-size: 14px;
    min-height: 38px;
}

.dash-header .header-section .search-icon {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 6px;
    cursor: pointer;
}

body.dark-mode .dash-header .header-section .search-icon {
    color: var(--dark-mode-bg) !important;
    background-color: #fff;
}

.dashboard-main {
    background-color: #eeeef7;
    min-height: 100vh;
    /* padding-left: 16px; */
}

body.dark-mode .dashboard-main {
    background-color: #000;
}

.dashboard-right {
    width: 100%;
    padding-left: var(--sidebar-width);
}

.dashboard-data-wrapper {
    padding: 24px;
}

.dash-navbar {
    background-color: var(--bg-white);
    padding: 24px 14px;
    margin-top: 30px;
    border-radius: 12px;
}

.dash-navbar .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dash-navbar .navbar-list li {
    position: relative;
    margin-bottom: 20px;
}

.dash-navbar .navbar-list li:last-child {
    margin-bottom: 0;
}

.dash-navbar .navbar-list li.nav-heading {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-top: 24px;
    border-top: solid 2px #F6F6F6;
    /* margin-top: 24px; */
}

.dash-navbar .navbar-list li.nav-profile {
    margin-bottom: 24px;
    text-align: center;
}

.dash-navbar .navbar-list li.nav-profile img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.dash-link {
    position: relative;
    width: 45px;
    height: 45px;
    background: var(--bg-white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.dash-link.active {
    background: #F6F6F6;
}

.dash-link .icon img {
    width: 20px;
    height: 20px;
}

/* Tooltip */
.dash-link .tooltip {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    z-index: 100;
}

/* Tooltip Arrow */
.dash-link .tooltip::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000;
}

/* Show on Hover */
.dash-link:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.dash-header .header-section .search-bar {
    width: 50%;
    position: relative;
}

.dash-header .header-actions .theme-icon input {
    --bs-form-switch-bg: url("/sun.svg");
    background-color: var(--primary-light);
    background-position: 2px 2px;
    background-size: 16px;
    width: 35px;
    height: 20px;
    border: 0 !important;
    padding: 0 3px;
}

body.dark-mode .header-actions .theme-icon input {
    --bs-form-switch-bg: url("/moon.svg");
    background-position: 16px 2px;
    background-color: #FFFFFF;
}

body.dark-mode .dash-header .header-section {
    background-color: var(--dark-mode-bg);
}

body.dark-mode .dash-header .header-section::before {
    box-shadow: 12px 12px var(--dark-mode-bg);
}

body.dark-mode .dash-header .header-section::after {
    box-shadow: -12px 12px var(--dark-mode-bg);
}

.dash-header .header-actions span {
    margin-right: 10px;
}

.dashboard-welcome-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}

.welcome-banner-image {
    text-align: end;
}

.welcome-banner-content {
    padding-left: 50px;
}

.welcome-banner-content h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    color: #fff;
}

.welcome-banner-content p {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
}

.dropdown-menu {
    border: 1px solid #e6e8f0 !important;
    /* padding: 0; */
    border-radius: 8px;
    color: #161A23 !important;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    background-color: #FAFAFA !important;
    color: #161A23 !important;
}

.overview-dropdown {
    align-items: center;
    column-gap: 8px;
    display: flex;
    background-color: var(--bg-white);
    border-color: var(--bg-white);
    border-radius: 30px;
    color: #060606;
}

.overview-dropdown:hover,
.btn.show,
.btn:active {
    background-color: var(--primary-light) !important;
    border-color: var(--primary-light) !important;
}

.overview-dropdown::after,
.chart-dropdown::after {
    display: none;
}

.overview-header {
    padding-top: 36px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: space-between;
    padding-bottom: 24px;
}

.overview-header h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 0;
    color: #060606;
}

.overview-card {
    padding: 24px;
    border: 1px solid var(--card-border);
    background-color: var(--bg-white);
    border-radius: 14px;
}

.overview-card img {
    margin-bottom: 16px;
    height: 55px;
    object-fit: contain;
}

.overview-card p {
    line-height: 100%;
    color: #797979;
    margin-bottom: 8px;
}

.RevenueChart {
    width: 100%;
    height: 330px;
}

.SalesFunnelChart {
    width: 100%;
    height: 220px;
}

.table-dropdown .btn {
    color: #515B73;
    background-image: url("data:image/svg+xml;utf8,<svg width=\"13\" height=\"13\" viewBox=\"0 0 13 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><mask id=\"path-1-inside-1_6464_36757\" fill=\"white\"><path d=\"M6.43652 0.812988L12.0934 6.46985L6.43652 12.1267L0.779661 6.46985L6.43652 0.812988Z\"/></mask><path d=\"M6.43652 12.1267L5.02231 13.5409L6.43652 14.9551L7.85074 13.5409L6.43652 12.1267ZM10.6792 5.05564L5.02231 10.7125L7.85074 13.5409L13.5076 7.88406L10.6792 5.05564ZM7.85074 10.7125L2.19388 5.05564L-0.634552 7.88406L5.02231 13.5409L7.85074 10.7125Z\" fill=\"%23515B73\" mask=\"url(%23path-1-inside-1_6464_36757)\"/></svg>");
    background-position: right 2px;
    background-repeat: no-repeat;
    background-size: 13px;
    align-items: center;
    gap: 10px;
    padding: 0;
    display: flex;
    background-color: #fff !important;
    border: none !important;
    padding-right: 20px !important;
    font-size: 14px;
}

.table-dropdown .btn svg {
    font-size: 18px;
}

.chart-box {
    padding: 20px;
    background-color: var(--bg-white);
    border: var(--card-border) solid 1px;
    border-radius: 14px;
    height: 100%;
}

.chart-header h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.chart-header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
    padding: 0 20px 20px;
    border-bottom: solid 1px #E9EDF4;
    margin: 0 -20px;
    margin-bottom: 24px;
}

.quotation-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quotation-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    column-gap: 8px;
}

.quotation-list li p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.bg-box {
    padding: 10px;
    background-color: #E5E5F0;
    border-radius: 14px;
    border: solid 1px #fff;
}
.bg-box .table-responsive {
    border-radius: 14px;
    border: solid 1px #fff !important;
}
body.dark-mode .bg-box {
    background-color: var(--dark-mode-bg);
    border-color: var(--card-border);
}

table thead tr th {
    background-color: #F4F7FA !important;
    padding: 20px !important;
    border-color: transparent !important;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 500;
    color: #23272E;
    text-transform: uppercase;
}

table tbody tr td {
    background-color: transparent !important;
    padding: 20px !important;
    border-color: transparent !important;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 300;
    color: #23272E;
}

table thead tr th:last-child{
	border-radius: 0 10px 0 0;
}
table tbody tr td:last-child {
	border-radius: 0 0 10px 0;
}
table thead tr th:first-child{
	border-radius: 10px 0 0 0;
}
table tbody tr td:first-child {
	border-radius: 0 0 0 10px;
}
body.dark-mode table thead tr th {
    background-color: var(--dark-table-bg) !important;
    color: #fff !important;
}

.table-header {
    background-color: var(--bg-white);
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
}

.table-header h3 {
    font-size: 18px;
    margin-bottom: 0;
    color: #202C4B;
}

.table-header p {
    color: #202C4B;
}

.table-header .view-all-btn {
    border: 0;
    background-color: var(--bg-white);
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    color: #515B73;
    /* line-height: 1; */
}

.table-header .view-all-btn svg {
    margin-top: 2px;
}
table tbody tr td .eyeBtn{
    color: #8F95B2;
    cursor: pointer;
}