@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --main-font: "Lexend", sans-serif;
    --second-font: "DM Sans", sans-serif;
    --primary-light: #9E313F;
    --primary-dark: #6C202A;
}

body {
    font-family: var(--second-font);
}

.container {
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-control,
.form-select {
    box-shadow: none !important;
    border-color: #E0E2E7;
}

.form-check-input {
    box-shadow: none !important;
    border-color: #E55F5A;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    border-color: var(--primary-dark);
}

.form-switch .form-check-input:focus,
.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236C202A'/%3e%3c/svg%3e");
    border-color: var(--primary-light);
}

p {
    color: #6B6B6B;
}

p:last-child {
    margin-bottom: 0;
}

a,
span {
    display: inline-block;
    transition: all 0.3s;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.row-gap-24 {
    row-gap: 24px;
}

.mt-32 {
    margin-bottom: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.bg-light {
    background-color: #FFF3F4 !important;
}

.bg-dark {
    background-color: var(--primary-dark) !important;
}

.btn-primary {
    padding: 10px 24px;
    background-color: var(--primary-light) !important;
    border: solid 1px var(--primary-light) !important;
    color: #fff !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-outline-primary {
    padding: 10px 24px;
    background-color: #fff !important;
    border: solid 1px var(--primary-light) !important;
    color: var(--primary-light) !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
    color: #fff !important;
}

.btn-outline-secondary {
    padding: 10px 24px;
    background-color: #fff !important;
    border: solid 1px #333 !important;
    color: #333 !important;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    transition: all 0.3s;
    font-family: var(--second-font);
    min-height: 50px;
    min-width: 110px;
}

.btn-outline-secondary:hover {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
    color: #fff !important;
}

.tag-line {
    color: var(--primary-light);
    font-family: var(--second-font);
    font-weight: 500;
    margin-bottom: 10px;
}

.tag-line-dark {
    color: var(--primary-dark);
    font-family: var(--second-font);
    font-weight: 500;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
}

body:has(.header-wh) .navbar {
    background: none;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.navbar-outer .navbar-brand,
.navbar-outer .header-btn {
    width: 10%;
}

.mobile-only {
    display: none;
}

.navbar-brand .main-logo {
    max-width: 115px;
    height: auto;
}

.navbar-outer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.navbar-outer .navbar-nav {
    width: 80%;
    justify-content: center;
}

body:has(.header-wh) .navbar .navbar-nav .nav-item .nav-link {
    color: #fff !important;
}

body:has(.header-wh) .navbar .navbar-brand .main-logo {
    filter: invert(1) brightness(200);
}

.navbar-outer .navbar-nav .nav-item .nav-link {
    color: #6B6B6B !important;
    font-size: 14px;
    font-family: var(--second-font);
    font-weight: 500;
}

.navbar-outer .navbar-nav .nav-item .nav-link:hover,
.navbar-outer .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-light) !important;
}

body:has(.header-wh) .navbar .navbar-nav .nav-item .nav-link.active,
body:has(.header-wh) .navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: 700;
}

.hero-section {
    border-top: 1px solid #0000001A;
}

.hero-row {
    align-items: center;
}

h1 {
    font-size: 62px;
    font-weight: 700;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

.hero-text h1 {
    color: var(--primary-dark);
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: var(--primary-light);
}

.hero-text p {
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
}

.hero-img-box {
    margin-right: -50px;
}

.bg-dark .tag-line {
    color: #fff !important;
}

.bg-dark .section-heading h2 {
    color: #fff !important;
}

.bg-dark .section-heading p {
    color: #C8C4C4 !important;
}

.section-heading h2 {
    color: var(--primary-dark);
    margin-bottom: 16px;
}

.section-heading p {
    line-height: 32px;
    font-size: 18px;
}

.box-bg-white {
    border: 1px solid #0000001a;
    border-radius: 10px;
    padding: 32px 20px;
    box-shadow: 0 14px 24px #0000001a;
    background-color: #fff;
    height: 100%;
}

.box-bg-white .icon {
    background-color: var(--primary-dark);
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 24px;
}

.box-bg-white h3 {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 16px;
    font-weight: 600;
    /* font-family: var(--second-font); */
}

.testi-sec {
    overflow: hidden;
}

.slider-wrapper .swiper {
    overflow: visible !important;
}

.testi-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 36px 24px;
    opacity: 50%;
}

.testi-box.next-slide {
    opacity: 100%;
    margin-top: 15px;
}

.testi-profile h5 {
    color: #67646A;
    font-size: 16px;
    font-weight: 400;
}

.testi-profile h6 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
}

.portal-box {
    box-shadow: 0px 7px 20px 0px #0000001A;
    border: 1px solid #9E313F9E;
    padding: 24px;
    border-radius: 10px;
    transition: all 0.3s;
}

.portal-box:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.portal-box h3 {
    color: #fff;
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}

.portal-box p {
    color: #C8C4C4;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.portal-box a {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
    color: #fff;
    text-decoration: none;
}

.slider-wrapper .controls {
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    display: flex;
    margin-top: 40px;
}

.slider-wrapper .custom-pagination {
    align-items: center;
    display: inline-flex;
    width: auto !important;
}

.slider-wrapper .controls button {
    border: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: inline-flex;
    background-color: #FFD0D6;
}

.slider-wrapper .controls button.swiper-button-disabled {
    opacity: 50%;
}

.slider-wrapper .custom-pagination .swiper-pagination-bullet {
    background: transparent;
    width: 40px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 5px 10px;
    border-radius: 30px;
    opacity: 1;
}

.slider-wrapper .custom-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-dark) !important;
    color: #fff !important;
}

.slider-wrapper .custom-pagination .swiper-pagination-bullet {
    background-color: #FFF3F4;
}

.testi-box p {
    font-size: 22px;
    /* color: #413D45; */
    color: #161617;
    font-weight: 500;
}

.footer-section-top {
    background-color: #101010;
    padding: 80px 0;
    border-bottom: solid 1px #D9D9D933;
}

.copyright-div {
    text-align: center;
    color: #fff;
    padding: 24px 0;
    background-color: #101010;
}

.col-footer-logo {
    width: 40%;
}

.col-footer-links {
    width: 20%;
}

.footer-logo p {
    width: 80%;
    margin-top: 16px;
}

.footer-links h4 {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-links ul li a {
    color: #6B6B6B;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-links ul li a:hover {
    color: #fff;
}

.page-banner-sec {
    height: 730px;
    position: relative;
}

.page-banner-sec .banner-img {
    z-index: 1;
    position: absolute;
    inset: 0;
    height: 730px;
    width: 100%;
}

.page-banner-sec .page-banner-img .bg-color {
    content: "";
    background: linear-gradient(180deg, #000000b3 0%, #6660 71.48%);
    position: absolute;
    inset: 0;
    height: 730px;
    z-index: 2;
}

.page-banner-sec .banner-content {
    height: 730px;
    position: relative;
    /* padding-top: 100px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #000000b3 0%, #66666600 71.48%);
    z-index: 2;
}

.page-banner-sec .banner-content h1 {
    color: #fff;
    margin-bottom: 0;
}

.story-img img {
    height: 460px;
    border-radius: 20px;
}

.story-text .section-heading h2 {
    max-width: 570px;
}

.story-text .exp-div img {
    border-radius: 10px;
    width: 50%;
    height: 300px;
    margin-top: 90px;
    margin-right: 30px;
}

.story-text .exp-div {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.story-text .exp-div .text {
    width: 36%;
}

.story-text .exp-div h3 {
    font-size: 185px;
    color: var(--primary-light);
    font-weight: 700;
}

.story-text .exp-div p {
    text-align: end;
    max-width: 110px;
    margin-left: auto;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--main-font);
    margin-top: -24px;
}

.about-text {
    text-align: center;
}

.about-text h6 {
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 16px;
}

.mission-img img {
    height: 450px;
    border-radius: 20px;
}

.mission-vission-sec .row {
    align-items: center;
}

.mission-text .text-box p {
    color: #2D2B2B;
    line-height: 32px;
    font-size: 18px;
}

.mission-text .text-box {
    margin-bottom: 32px;
}

.mission-text .red-box {
    background-color: var(--primary-light);
    color: #fff;
    border-radius: 8px;
    padding: 16px;
}

.portal-box.hope-box {
    overflow: hidden;
}

.portal-box.hope-box .image-wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
    text-align: end;
}

.portal-box.hope-box .image-wrapper::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: #fff;
    border-radius: 50%;
    right: -80px;
    top: 0px;
}

.portal-box.hope-box .image-wrapper img {
    position: relative;
    z-index: 2;
}

.contact-section {
    position: relative;
    background: linear-gradient(to right, var(--primary-dark) 50%, #fff 50%);
}

.contact-list .contact-info {
    margin-bottom: 24px;
}

.contact-list {
    margin-top: 50px;
}

.contact-list .contact-info label {
    color: #fff;
    width: 100%;
    margin-bottom: 16px;
}

.contact-list .contact-info span {
    width: 100%;
}

.contact-list .contact-info a,
.contact-list .contact-info span {
    color: #c8c4c4;
    text-decoration: none;
    line-height: 32px;
    font-size: 18px;
}

.contact-form {
    padding-left: 38px;
}

.form-group label {
    color: #202224;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    font-family: var(--main-font);
}

.form-group {
    margin-bottom: 24px;
}

.form-group.pwd {
    position: relative;
}

.form-group .eye-btn {
    position: absolute;
    right: 15px;
    top: 40px;
    background-color: transparent;
    border: 0;
}

.form-action {
    margin-top: 40px;
}

.form-group .form-control,
.form-group .form-select {
    color: #202224;
    padding: 11px 16px;
    font-size: 14px;
    min-height: 50px;
}

.react-date-picker {
    color: #202224;
    padding: 8px 16px;
    font-size: 14px;
    min-height: 50px;
    width: 100%;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background-position: right .75rem center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: block;
}

.react-calendar {
    border-color: var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    margin-top: 6px;
}

.react-date-picker .react-date-picker__wrapper {
    border: 0;
}

.react-date-picker input {
    outline: none;
    padding: 0;
    background-color: #fff !important;
    margin: 0;
}

.react-calendar__tile--now {
    border: solid 1px var(--primary-dark) !important;
    color: var(--primary-dark) !important;
    background-color: #fff !important;

}

.react-calendar__tile--active {
    background-color: var(--primary-dark) !important;
    color: #fff !important;
}

.form-group .form-control::placeholder,
.form-group .form-select::placeholder {
    color: #6B7286;
}

.form-group textarea {
    height: 105px;
    resize: none;
}

.contact-form h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-dark);
    margin-bottom: 24px;
}

.signup-img .login-img {
    width: 100%;
    height: 800px;
    min-height: 100vh;
}

.login-section {
    padding-left: 50px;
    background-color: #F0F2F5;
}

body:has(.login-page) .navbar,
body:has(.login-page) footer {
    display: none;
}

.col-login-form {
    padding-right: 50px;
    padding-top: 50px;
}

.signup-img {
    position: relative;
}

.signup-img .login-text {
    position: absolute;
    bottom: 100px;
    left: 50px;
    right: 50px;
    color: #fff;
    padding: 40px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background: #FFFFFF21;
}

.signup-img .login-text h4 {
    margin-bottom: 20px;
}

.signup-img .login-text p {
    font-size: 18px;
}

.form-selector {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    margin-bottom: 50px;
    display: grid;
}

.form-radio-div .radio-btn {
    background-color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    padding: 24px 32px;
    display: inline-flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.form-radio-div .radio-btn.active {
    background-color: var(--primary-dark);
    color: #fff;
}

.signup-img .navbar-brand {
    position: absolute;
    left: 50px;
    top: 50px;
}

.form-radio-div .radio-btn.active img {
    filter: brightness(200) invert(0);
}

.signup-form .form-title {
    color: var(--primary-dark);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-height: 52px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 50px;
}

.signup-form h2 {
    color: var(--primary-dark);
    line-height: 50px;
}

.signup-form .form-desc {
    color: #000;
    font-size: 18px;
    margin-bottom: 40px;
}

.forgot-link {
    margin-top: -16px;
}

.agree-link label {
    color: var(--primary-dark);
    font-weight: 400;
}

.otp-inputs {
    display: flex;
    column-gap: 16px;
}

.otp-inputs input {
    width: 60px;
    height: 60px;
    text-align: center;
}

.signup-link a,
.agree-link a {
    color: var(--primary-dark);
    font-weight: 500;
}

.forgot-link a {
    color: #D93F21;
    text-decoration: none;
}

.remember-link {
    margin-top: 16px;
}

.remember-link a {
    color: var(--primary-dark);
}

.perks-img img {
    border-radius: 20px;
    height: 650px;
}

.perks-box h5 {
    color: var(--primary-dark);
    margin-bottom: 12px;
    line-height: 28px;
}

.perks-box p {
    font-size: 18px;
    line-height: 30px;
}

.row.perks-row .col-lg-6 {
    border-bottom: solid 1px #d9d9d9;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.dashboard-main {
    min-height: 100vh;
    background-color: #F5F6FA;
}

.dashboard-main .dashboard-left {
    background-color: #fff;
    border-right: 1px solid #0c05071a;
    width: 280px;
    min-width: 280px;
    min-height: 100vh;
    padding-top: 24px;
    position: fixed;
}

.dash-header {
    padding: 24px 32px;
    margin-left: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    z-index: 3;
    top: 0;
    /* border-bottom: solid 2px #F9F9FC; */
}

.dashboard-main .navbar-list {
    margin: 0;
    padding: 0 24px;
    list-style: none;
}

.dashboard-main .navbar-list .dash-link,
.dashboard-main .navbar-list .dash-logout {
    color: #31171b;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    font-family: var(--main-font);
    border-radius: 30px;
    align-items: center;
    gap: 16px;
    padding: 7px 16px;
    text-decoration: none;
    display: flex;
    position: relative;
}

.dashboard-main .navbar-list .dash-link.active {
    background-color: #FFF3F4;
    color: #6C202A;
}

.dashboard-main .navbar-list .dash-link.active .icon {
    filter: brightness(0) saturate(100%) invert(14%) sepia(84%) saturate(1252%) hue-rotate(322deg) brightness(98%) contrast(95%);
}

.dashboard-main .navbar-list li {
    background-color: #fff;
    padding: 4px 0;
}

.dashboard-main .dash-logo {
    margin-bottom: 40px;
    padding: 0 24px;
}

.profile-dropdown .name {
    color: #404040;
    text-align: left;
    margin-bottom: 4px;
    font-size: 14px;
}

.profile-dropdown .categ {
    margin-bottom: 0;
    color: #565656;
    font-size: 12px;
    text-align: left;
}

.profile-dropdown .inner-profile {
    width: auto;
    height: auto;
    border: 0;
}

.profile-dropdown img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #D8D8D8;
}

.profile-dropdown .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M9.19995 0.0996094C14.2257 0.0996094 18.2996 4.17343 18.2996 9.19922C18.2996 14.225 14.2257 18.2988 9.19995 18.2988C4.17416 18.2988 0.100342 14.225 0.100342 9.19922C0.100342 4.17343 4.17416 0.0996094 9.19995 0.0996094Z' stroke='%235C5C5C' stroke-width='0.2'/%3E%3Cpath d='M9.19995 9.99211L6.93157 7.34567C6.7642 7.1504 6.49284 7.1504 6.32548 7.34567C6.15811 7.54093 6.15811 7.85751 6.32548 8.05277L8.89691 11.0528C9.06427 11.248 9.33563 11.248 9.503 11.0528L12.0744 8.05277C12.2418 7.85751 12.2418 7.54093 12.0744 7.34567C11.9071 7.1504 11.6357 7.1504 11.4683 7.34567L9.19995 9.99211Z' fill='%23565656'/%3E%3C/svg%3E");

    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-right: 54px !important;
    border: none !important;
}

.dropdown-menu {
    border: solid 1px #0000001A;
    padding: 0;
    border-radius: 10px;
}

.dropdown-menu .dropdown-item {
    min-width: max-content;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    font-size: 14px;
    cursor: pointer;
}

.form-check label {
    cursor: pointer;
}

.dropdown-menu .dropdown-item:last-child {
    border-radius: 0 0 10px 10px;
}

.dropdown-menu .dropdown-item:first-child {
    border-radius: 10px 10px 0 0;
}

.dropdown-toggle::after {
    display: none;
}

.profile-dropdown .dropdown-item img {
    background: transparent;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.profile-dropdown .dropdown-menu {
    border-radius: 0 0 10px 10px;
    border: solid 1px #0000001A;
    padding: 0;
    overflow: hidden;
}

.profile-dropdown .dropdown-item {
    padding: 16px 16px;
    color: #1A1A1A;
    font-weight: 700;
}

.dropdown-item:hover {
    background-color: #fff3f4 !important;
    color: #6c202a !important;
}

.dashboard-right {
    width: 100%;
    padding-left: 280px;
}

.dashboard-data-wrapper {
    padding: 32px;
}

table thead tr th {
    color: #202224 !important;
    background-color: #f1f4f9 !important;
    border: 0 !important;
    padding: 16px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    white-space: nowrap;
    min-width: 150px;
    font-family: var(--second-font);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 5px 0 0 5px !important;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 5px 5px 0 !important;
    text-align: center;
}

table tbody tr td:last-child div {
    min-width: max-content;
}

table tbody tr td:last-child div span {
    cursor: pointer;
}

table tbody tr td {
    color: #202224cc !important;
    border: 0 !important;
    padding: 16px !important;
    font-size: 14px !important;
    font-family: var(--second-font);
}

.badge {
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 20px;
    min-width: 150px;
    text-align: center;
}

.badge.text-bg-success {
    background-color: #00b69b !important;
}

.badge.text-bg-secondary {
    background-color: #979797 !important;
}

.badge.text-bg-danger {
    background-color: #FD5454 !important;
}

.badge.text-bg-primary {
    background-color: #92400E !important;
}

.badge.text-bg-info {
    background-color: #3749A6 !important;
    color: #fff !important;
}

.badge.text-bg-warning {
    color: #fff !important;
    background-color: #FBBD11 !important;
}

table tbody tr {
    border-bottom: solid 1px #97979766;
}

table tbody tr:last-child {
    border-bottom: 0;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    margin-bottom: 50px;
}

.page-header h2 {
    margin-bottom: 0;
    color: #202224;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.11px;
}

.page-header .btn-primary {
    min-height: 45px;
    border-radius: 30px;
    min-width: 170px;
    font-weight: 600;
}

.table-wrapper,
.bg-box {
    padding: 24px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 6px 6px 54px 0px #0000000D;
}

.table-top h3 {
    margin-bottom: 0;
    color: #202224;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
}

.table-top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
    column-gap: 24px;
}

.table-top .view-all-btn {
    text-align: center;
    color: #1c1d21;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    font-family: var(--main-font);
    border: 1px solid #97979766;
    border-radius: 30px;
    padding: 8px 16px;
    text-decoration: none;
}

.table-top .view-all-btn:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: #fff;
}

.table-top .filter-div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.table-top .filter-div .search-div {
    position: relative;
    width: 280px;
}

.table-top .filter-div .search-div img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.table-top .filter-div .search-div .form-control {
    padding-left: 32px;
    border-radius: 30px;
    font-size: 14px;
}

.table-top .filter-div .dropdown-toggle {
    color: #202224;
    background-color: #fff;
    border: 1px solid #e0e2e7;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    min-width: 165px;
    border-radius: 30px;
    justify-content: space-between;
    padding: 8px 14px;
}

.form-check-input:checked {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.table-pagination {
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: space-between;
}

.table-pagination .table-count {
    width: 25%;
}

.table-pagination .items-per-page {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 12px;
}

.table-pagination .pagination-bar {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 50%;
    justify-content: center;
}

.table-pagination .pagination-bar .page-link,
.table-pagination .pagination-bar .page-item-btn {
    width: 32px;
    height: 32px;
    border: solid 1px #F0F1F3;
    color: var(--primary-light);
    border-radius: 8px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.table-pagination .pagination-bar .page-link.active {
    background-color: var(--primary-light);
    color: #fff;
    border-color: var(--primary-light);
}

.table-pagination .pagination-bar .page-item-btn:disabled {
    background-color: #FFF3F4;
}

.table-pagination .items-per-page select {
    background-color: var(--primary-light);
    border: solid 1px var(--primary-light);
    color: #fff;
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 14px;
}

.table-top .filter-div .advance-filter-btn {
    color: #202224;
    background-color: #fff;
    border: 1px solid #e0e2e7;
    border-radius: 30px;
    align-items: center;
    column-gap: 12px;
    min-width: 165px;
    font-size: 14px;
    display: flex;
    padding: 8px 14px;
    white-space: nowrap;
}

.logout-modal {
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.logout-modal .close-modal-btn {
    position: absolute;
    right: 16px;
    background-color: #fff;
    padding: 0;
    border: 0;
    top: 16px;
}

.logout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 20px;
}

.logout-footer button {
    border-radius: 30px;
    min-height: 40px;
}

.profile-change-dg .img-box {
    width: 125px;
    height: 125px;
    background-color: #D8D8D8;
    display: inline-flex;
    align-items: end;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #E0E2E7;
}

.profile-change-dg {
    display: flex;
    align-items: start;
    column-gap: 20px;
}

.profile-change-dg .profile-name {
    font-size: 16px;
    color: #202224;
}

.profile-change-dg .profile-email {
    color: #202224;
    font-size: 14px;
    font-weight: normal;
}

.change-profile-button .form-control {
    display: none;
    width: 150px;
}

.change-profile-button {
    margin-top: 20px;
    display: flex;
    column-gap: 24px;
}

.change-profile-button .btn-outline-secondary,
.change-profile-button .btn-primary {
    border-radius: 30px;
}

.dash-box {
    background-color: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 6px 6px 54px #0000000d;
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: space-between;
}

.dash-box .text p {
    margin-bottom: 5px;
}

.dash-box .text h3 {
    margin-bottom: 0;
    font-size: 28px;
}

.dash-box.one .icon-bg {
    background-color: #8280ff33;
}

.dash-box.two .icon-bg {
    background-color: #FEC53D33;
}

.dash-box.three .icon-bg {
    background-color: #4AD99133;
}

.dash-box .icon-bg {
    background-color: #8280ff33;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.step-header ul {
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 24px;
}

.step-header ul li {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.step-header ul li .nbr {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #D9DBE9;
    color: #514F6E;
    font-weight: 500;
    border-radius: 4px;
    font-family: var(--main-font);
}

.step-header ul li.active .nbr {
    background: linear-gradient(160.41deg, #B73D4D -5.15%, #6C202A 87.35%);
    color: #fff;
}

.step-header ul li .text {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-weight: 500;
    color: #A0A3BD;
    font-family: var(--main-font);
}

.step-header ul li.active .text {
    color: var(--primary-dark);
}

.search-plan-outer form {
    padding: 10px;
    border: solid 1px #E0E2E7;
    border-radius: 10px;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-plan-outer form input {
    border: 0;
    width: 100%;
    height: 50px;
    outline: none;
}

.search-plan-outer form .btn-primary {
    min-width: 165px;
    border-radius: 30px;
}

.search-plan-outer .form-desc {
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    color: #202224;
}

.or-options {
    display: flex;
    align-items: center;
    column-gap: 24px;
    width: 100%;
    color: #202224;
    font-weight: 500;
    font-family: var(--main-font);
}

.or-options hr {
    width: 100%;
    background-color: #E0E2E7 !important;
}

.new-plan .btn-primary {
    border-radius: 30px;
    margin: 0 auto;
}

.upload-div {
    border: 1px dashed #a5acbb;
    width: 100%;
    padding: 18px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.upload-div .icon-text {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--primary-light);
}

.upload-div p {
    line-height: 1.5;
}

.view-retail-row label {
    color: #565656 !important;
    font-weight: 400 !important;
}

.view-retail-row h6 {
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    color: #202224 !important;
}

.action-links {
    list-style: none;
    padding: 0;
    margin-bottom: 32px;
    background-color: var(--primary-dark);
    border-radius: 10px;
    display: flex;
    padding: 16px;
}

.action-links li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    font-family: var(--main-font);
}

.customer-info .name {
    color: #202224;
    text-align: left;
    margin-bottom: 4px;
    font-size: 14px;
}

.customer-info .categ {
    margin-bottom: 0;
    color: #565656;
    font-size: 12px;
    text-align: left;
}

.customer-info .inner-profile {
    width: auto;
    height: auto;
    border: 0;
}

.customer-info img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #D8D8D8;
}

.customer-info .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
    border: none !important;
    margin-bottom: 24px;
}

.service-timeline-box p {
    margin-bottom: 0;
    line-height: 20px;
    font-size: 14px;
}

.service-timeline-row {
    margin: 0;
}

.col-service-timeline {
    border-top: dashed 1px #9e313f80;
    width: 20%;
    margin-top: 16px;
    padding-top: 24px;
    position: relative;
    padding-left: 0;
}

.col-service-timeline.active {
    border-color: var(--primary-light);
}

.col-service-timeline.active::before {
    background-color: var(--primary-light);
}

.col-service-timeline::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #9e313f80;
    top: -8px;
    left: 0;
    border-radius: 50%;
}

.col-service-timeline:last-child {
    border-top: 0;
    padding-right: 0;
}

.docx-box {
    height: 180px;
    overflow: hidden;
    border: solid 1px #D9D9D9;
    padding: 0 16px;
    border-radius: 10px;
}

.service-timeline-box h5 {
    font-size: 16px;
    font-weight: 500;
    color: #202224;
}

.customer-search-row {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
    padding: 12px;
    border: solid 1px #e0e2e7 !important;
    border-radius: 10px;
    margin-bottom: 16px;
}

.customer-search-row .col-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.customer-search-row .form-group{
    margin-bottom: 0;
}
.customer-search-row .form-group label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}
.customer-search-row .col-action{
    min-width: 120px;
}
.customer-search-row .col-action .btn-primary{
    min-height: 40px;
    border-radius: 30px;
}